/* body {
    background-color: black;
} */
.jumbotron {
	background-color: white;
}

body {
	font: 400 15px/1.8 Lato, sans-serif;
	color: #777;
}

h3, h4 {
	margin: 10px 0 30px 0;
	letter-spacing: 10px;
	font-size: 20px;
	color: #111;
}

.container {
	padding: 80px 120px;
}


.carousel-inner img {
	-webkit-filter: grayscale(90%);
	filter: grayscale(90%); /* make all photos black and white */
	margin: auto;
	min-height: 100%;
	min-width: 100%;
	max-width: none!important;
}

.carousel-caption h3 {
	background-color: rgba(124, 181, 236, 0.5);
	font-weight: bold;
	padding:5px;
	color: black;
}

@media ( max-width : 600px) {
	.carousel-caption {
		display: none;
		/* Hide the carousel text when the screen is less than 600 pixels wide */
	}
}

.bg-1 {
	background: #2d2d30;
	color: #bdbdbd;
}

.bg-1 h3 {
	color: #fff;
}

.bg-1 p {
	font-style: italic;
}

.list-group-item:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.list-group-item:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.thumbnail {
	padding: 0 0 15px 0;
	border: none;
	border-radius: 0;
}

.thumbnail p {
	margin-top: 15px;
	color: #555;
}

.btn {
	padding: 10px 20px;
	background-color: #333;
	color: #f1f1f1;
	border-radius: 0;
	transition: .2s;
	width: 200px;
}

.btn:hover, .btn:focus {
	border: 1px solid #333;
	background-color: #fff;
	color: #000;
}

.modal-header, h4, .close {
	background-color: #333;
	color: #fff !important;
	text-align: center;
	font-size: 30px;
}

.modal-header, .modal-body {
	padding: 40px 50px;
}

.nav-tabs li a {
	color: #777;
}

.navbar {
	font-family: Montserrat, sans-serif;
	margin-bottom: 0;
	background-color: #2d2d30;
	border: 0;
	font-size: 14px !important;
	font-weight: bold;
	letter-spacing: 4px;
	opacity: 0.9;
}

.navbar li a, .navbar .navbar-brand {
	color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
	color: #fff !important;
}

.navbar-nav li.active a {
	color: #fff !important;
	background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.open .dropdown-toggle {
	color: #fff;
	background-color: #555 !important;
}

.dropdown-menu li a {
	color: #000 !important;
}

.dropdown-menu li a:hover {
	background-color: red !important;
}

footer {
	background-color: #2d2d30;
	color: #f5f5f5;
	padding: 32px;
}

footer a {
	color: #f5f5f5;
}

footer a:hover {
	color: #777;
	text-decoration: none;
}

.form-control {
	border-radius: 0;
}

textarea {
	resize: none;
}


div section{
	width: 33%;
	display: inline-block;
	vertical-align: top;
	align-content: center;
}

div section img{
	padding: 10px;
	width: 80%;
	height: 300px;
	text-align: center;
	margin: 0;
}

div section p {
	height: 60px;
	padding: 10px;
	width: 80%;
	color: #111;
	text-align: center;
}

.read-more{
	font-weight: bold;
	margin-top: 50px;
}



div section h3{
	padding: 10px;
	width: 80%;
	font-size: 12px;
	font-family: Montserrat, sans-serif;
	color: #fff !important;
	letter-spacing: 2px;
	background-color: #2d2d30;
	opacity: 0.9;
	text-align: center;
}

.raport{
	display: inline;
}

#description {
	text-align: left;
	color: black;
}

#sumaAlocataCaz1 {
	color: black;
	display: inline;
}

#sumaAlocataCaz2 {
	color: black;
	display: inline;
}

#sumaAlocataCaz3 {
	color: black;
	display: inline;
}

#sumaCaz1 {
	color: black;
	float: left;
}

#sumaCaz2 {
	color: black;
	float: left;
}

#sumaCaz3 {
	color: black;
	float: left;
}

#baniCazSocial {
	color: black;
	float: left;	
}

.fa-times {
	color: black;
	float: right;
}

.fit {
	float: right;
	width: 45%;
}

.fit1 {
	float: right;
	width: 50%;
	padding-left: 65px;
	border-left: 1px solid #2d2d30;
}

.adjust {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 60px;
	padding-right: 0px;
	margin-right: 0px;
	width: 67.5%;
}


.rightEvenimente {
	float: right;
	width: 25%;
	position: relative;
	left: 35px;
	top: -21px;
}

.rightInnerEvenimente {
	float: right;
	width: 100%;
	padding-left: 65px;
}

.rightAdjust {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 60px;
	padding-left: 60px;
	margin-right: 0px;
	width: 100%;
}

.clear {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#footerEvenimente {
	position: relative;
	top: 100px;
}

p.footerEvenimente {
	color: black;
	font-weight: bold;
	font-size: 20px;
	margin-left: 35px;
}

button.footerEvenimente {
	padding: 0 0 0 0;
	width: 120px;
}


#sectionEveniment {
	width: 49%;
	height: 400px;
}

#navPaging {
	text-align: center;
}

p.center {
	text-align: center;
	width: 100%;
	height: auto;
	padding: 0px;
}

img.center {
	text-align: center;
	width: 100%;
}

#fixed {
	position: fixed;
	top: 75px;
	left: 50px;
	color: black;
	font-weight: bold;
	font-size: 30px;
}

#sectionAdjust {
	width: 400px;
	height: 250px;
}

#titleEvenimente {
	position: relative;
	top: 75px;
	left: 50px;
	color: black;
	font-weight: bold;
	font-size: 30px;
}

#list {
	position: fixed;
	top: 250px;
	bottom: 10px;
	left: 35px;
	overflow: auto;
	border-top: 1px solid #2d2d30;
}

#listEvenimente {
	position: relative;
	float: left;  
	top: 100px;
	bottom: 10px;
	left: 35px;
	width: 75%;
	overflow:hidden;
	border-top: 1px solid #2d2d30;
}

#list::-webkit-scrollbar {
	width: 0 !important;
}

.paragraphAdjust {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	height: auto;
	color: black;
}

.detailButton {
	float: right;
	margin-right: 90px;
	padding: 0 0 0 0;
	width: 100px;
}

.detailButtonEveniment {
	float: right;
	margin-right: 10px;
	padding: 0 0 0 0;
	width: 100px;
}

input#searchButton {
	height: 40px;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchIcon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
	margin-bottom: 10px;
}

input#searchButton:focus {
    width: 100%;
}

#line {
	border-color: #2d2d30;
}

.helpSection {
	color: black;
	font-weight: bold;
	font-size: 25px;
}

.pagination1 {
	font-weight: normal;
	color: black;
	margin: 0 0 0 680px;
	font-size: 25px;
	float: right;
	position: fixed;
}

.pagination2 {
	font-weight: normal;
	color: black;
	margin: 0 0 0 700px;
	font-size: 25px;
	float: right;
	position: fixed;
}

.pagination3 {
	font-weight: normal;
	color: black;
	margin: 0 0 0 720px;
	font-size: 25px;
	float: right;
	position: fixed;
}

.pagination4 {
	font-weight: normal;
	color: black;
	margin: 0 0 0 740px;
	font-size: 25px;
	float: right;
	position: fixed;
}

.pagination5 {
	font-weight: normal;
	color: black;
	margin: 0 0 0 760px;
	font-size: 25px;
	float: right;
	position: fixed;
}

.pagination1:hover {
	color: black;
}

.pagination2:hover {
	color: black;
}

.pagination3:hover {
	color: black;
}

.pagination4:hover {
	color: black;
	text-decoration: none;
}

.pagination5:hover {
	color: black;
}

.donateButton {
	margin-left: 50px;
}

.formSection {
	color: black;
	font-weight: bold;
	font-size: 15px;
}
#closeButton{
	color:black;
	float:right;
}

.modalFixedHeight {
	height: 415px;
	margin-bottom: 10px;
}


.modalFixedHeightPadding {
	height: 415px;
	position: relative;
	top: -10px;
	
}