<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Aduga membru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="../js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="../css/project.css" th:href="@{/css/project.css}"/>

    <script src="../js/adaugareMembru.js"></script>

    <script>
        $(function () {
            $(".dropdown-menu li a").click(function () {
                $("#select").text($(this).text());
            });
        });
    </script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

</head>
<body>
<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#myNavbar">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="adminHomePage.html">Acasă</a></li>
                    <li><a href="ong.html">ONG</a></li>
                    <li><a href="asociatiiLocale.html">Asociații locale</a></li>
                    <li><a href="generareRaporturi.html">Generare raporturi</a></li>
                    <li><a href="adaugareMembru.html">Adaugă membru</a></li>
                    <li><a href="gestiuneMonetara.html">Gestiune monetară</a></li>
					<li><a href="../index.html">Ieșire</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 	End of Application NAVBAR -->

</div>

<div class="container text-center">
    <h3>Adăugare membru</h3>
    <br>
    <div class="row">

        <form>

            <div class="form-group" id="nameContainer">
                <label class="control-label col-sm-2" for="name">Nume:</label>
                <div class="col-sm-10">
                    <input type="text" id="name" name="name"
                           autofocus="autofocus"placeholder="Nume"
                           class="form-control" onblur="validareNume()" onkeydown="validareNume()" required  >
                </div>
            </div>
            <br>
            <br>
            <div class="form-group" id="name2Container">
                <label class="control-label col-sm-2" for="prenume">Prenume:</label>
                <div class="col-sm-10">
                    <input type="text" id="prenume" name="prenume"
                           placeholder="Prenume" class="form-control" onblur="validarePrenume()" onkeydown="validarePrenume()" required="requiered">
                </div>
            </div>
            <br>
            <br>
            <div class="form-group" id="emailContainer">
                <label class="control-label col-sm-2" for="email">E-mail:</label>
                <div class="col-sm-10">
                    <input type="email" id="email" name="email"
                           placeholder="E-mail" class="form-control" onblur="validareEmail()" onkeydown="validareEmail()" required="requiered">
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label class="control-label col-sm-2" for="address">Adresă:</label>
                <div class="col-sm-10">
                    <input type="text" id="address" name="address"
                           placeholder="Adresă" class="form-control"  onblur="validareAdresa()" onkeydown="validareAdresa()" required="requiered">
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label class="control-label col-sm-2" for="phone">Telefon:</label>
                <div class="col-sm-10">
                    <input type="text" id="phone" name="phone"
                           placeholder="Telefon" class="form-control"  onblur="validareTelefon()" onkeydown="validareTelefon()" required="requiered" >
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label class="control-label col-sm-2" for="username">Nume utilizator:</label>
                <div class="col-sm-10">
                    <input type="text" id="username" name="username"
                           placeholder="Nume utilizator"
                           class="form-control"  onblur="validareUsername()" onkeydown="validareUsername()" required="requiered" >
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label class="control-label col-sm-2" for="password">Parolă:</label>
                <div class="col-sm-10">
                    <input type="password" id="password"
                           name="password"
                           placeholder="Parolă" class="form-control" onblur="validareParola()" onkeydown="validareParola()" required="requiered" >
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="organizatie" class="control-label col-sm-2" >Organizație:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="organizatie"  onchange="validareOrganizatie()" required="required">
                        <option  value="1">organizație 1</option>
                        <option  value="2">organizație 2</option>
                    </select>
                </div>
            </div>
            <br>
            <br>
            <br>
            <button id="addMem" onclick="adaugareMembru()"
                    type="submit" class="btn btn-primary btn-lg btn-success" data-target="myModal"
                    data-toggle="modal">Adaugă
            </button>

        </form>

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Membru adăugat cu succes !</h4>
                        </div>
                        <div class="modal-body">
                            <button onclick="toastr.info('Membru adăugat cu succes!')"
                                    type="button" class="btn btn-primary btn-lg btn-success" data-dismiss="modal">
                                OK
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>