<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Asociații locale</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="../js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="../css/project.css" th:href="@{/css/project.css}"/>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script src="../js/gestiuneMonetara.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div th:fragment="header">
    <!-- Application NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#myNavbar">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="memberHomePage.html">Acasă</a></li>
                    <li><a href="ong.html">ONG</a></li>
                    <li><a href="asociatiiLocale.html">Asociații locale</a></li>
                    <li><a href="gestiuneMonetara.html">Gestiune monetară</a></li>
					<li><a href="../index.html">Ieșire</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div id="band" class="container containerPadding text-center">
	<h3>Asociații locale</h3>

    <div class="container containerPadding">
        <div class="row">
			<img
				src="../images/primaria.jpg" width="400px" height="200px"
				class="img-responsive marginAuto"
				th:src="@{../images/primaria.jpg}"/>
			<p class="center">Primăria municipiului Cluj-Napoca</p>	
			<br>
			<img
				src="../images/consiliu.png" width="400px" height="200px"
				class="img-responsive marginAuto"
				th:src="@{../images/consiliu.png}"/>
			<p class="center">Consiliul Județean Cluj</p>
			<br>
			<img
				src="../images/dgaspc.jpg" width="400px" height="200px"
				class="img-responsive marginAuto"
				th:src="@{../images/dgaspc.jpg}"/>
			<p class="center">Direcţia Generală de Asistenţă Socială şi Protecţie a Copilului - Cluj</p>										
        </div>
    </div>
</div>

</body>
</html>