<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Donează pentru un caz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="../js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="../css/project.css" th:href="@{/css/project.css}"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script src="../js/actioneaza.js"></script>

    <script>
        $(document).ready(function () {
            $('.dropdown-menu a.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });
    </script>

</head>

<body id="#homepage">
<!--<div th:include="fragments/header :: header"></div>-->
<div th:fragment="header">
    <!-- Application NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#myNavbar">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../index.html">Acasă</a></li>
                    <li><a class="dropdown-toggle"
                           data-toggle="dropdown"
                           href="#">Implică-te!<span
                            class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="test" tabindex="-1" href="#">Donează <span class="caret"></span></a>
                                <ul class="dropdown-menu sub-dropdown-menu ">
                                    <li><a href="donatiiMonetare.html">Doneaza online</a></li>
                                    <li><a href="directioneaza2%25.html">Donează 2%</a></li>
                                    <li><a href="donatiiBunuri.html">Donează bunuri</a></li>
                                    <li><a href="actioneaza.html">Donează pentru un anumit caz</a></li>
                                </ul>
                            </li>
                            <li><a href="inregistrareVoluntar.html">Fii voluntar</a></li>
                            <li><a href="participaLaEveniment.html">Participă la eveniment</a></li>
                        </ul>
                    </li>
                    <li><a class="dropdown-toggle"
                           data-toggle="dropdown"
                           href="#">Ce facem?<span
                            class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="despreNoi.html">Despre noi</a></li>
                            <li><a href="cazuriRezolvate.html">Cazuri recent rezolvate</a></li>
                        </ul>
                    </li>
                    <li><a href="atelier.html">Atelier</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="../fragments/login.html">Intră</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 	End of Application NAVBAR -->

</div>

<div>
    <div id="titleEvenimente">Donează pentru un caz<br>
        <input id="searchButton" type="text" name="search" placeholder="Caută...">
    </div>
    <div id="containerEvenimente">
        <div class="rightEvenimente">
            <div id="band" class="container text-center rightAdjust">
                <h3 style="letter-spacing: 0px;">Unde acţionăm?</h3>
            </div>

            <div class="rightInnerEvenimente">
                <img src="../images/caz2.jpg" width="200px" height="140px">
                <p>Educaţie</p>

                <img src="../images/caz3.jpg" width="200px" height="140px">
                <p>Suport</p>

                <img src="../images/caz1.jpg" width="200px" height="140px">
                <p>Sănătate</p>
            </div>
        </div>
        <div id="listEvenimente">
            <section id="sectionEveniment">
                <img class="center" src="../images/caz1.jpg">
                <p class="center" class="paragraphAdjust">Caz 1</p>
                <button type="button" class="btn btn-primary btn-lg btn-success detailButtonEveniment"
                        data-toggle="modal" data-target="#detailModal1">Detalii
                </button>
            </section>
            <section id="sectionEveniment">
                <img class="center" src="../images/caz2.jpg">
                <p class="center" class="paragraphAdjust">Caz 2</p>
                <button type="button" class="btn btn-primary btn-lg btn-success detailButtonEveniment"
                        data-toggle="modal" data-target="#detailModal2">Detalii
                </button>
            </section>

            <section id="sectionEveniment">
                <img class="center" src="../images/caz3.jpg">
                <p class="center" class="paragraphAdjust">Caz 3</p>
                <button type="button" class="btn btn-primary btn-lg btn-success detailButtonEveniment"
                        data-toggle="modal" data-target="#detailModal3">Detalii
                </button>
            </section>

            <nav aria-label="Page navigation example" id="navPaging">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <hr id="line">
        </div>


    </div>
</div>

<div class="clear"></div>

<div id="detailModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalii</h4>
            </div>
            <div class="modal-body">
                <img src="../images/caz1.jpg" width="200px" height="150px">
                <button
                        type="button" class="btn btn-primary btn-lg btn-success donateButton"
                        data-toggle="modal" data-target="#donateModal1" data-dismiss="modal">
                    Donează
                </button>
              
				<p class="paragraphAdjust">An de an asociația noastră umanitară, cu ajutorul dvs, sponsorii și donatorii
                    noștri, ajută cu alimente zeci de bătrâni săraci, unii singuri sau neputincioși.</p>
                <br>
                <p class="paragraphAdjust helpSection">Contact: 0754-805813</p>
            </div>
        </div>
    </div>
</div>

<div id="detailModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalii</h4>
            </div>
            <div class="modal-body">
                <img src="../images/caz2.jpg" width="200px" height="150px">
                <button
                        type="button" class="btn btn-primary btn-lg btn-success donateButton"
                        data-toggle="modal" data-target="#donateModal1" data-dismiss="modal">
                    Donează
                </button>
                <p class="paragraphAdjust">În fiecare an ne implicăm în ajutorarea copiilor săraci, care 
						nu merg la școală sau sunt în pragul abandonului școlar din cauza lipsei de
                    rechizite.</p>
                <br>
                <p class="paragraphAdjust helpSection">Contact: 0734-956825</p>
            </div>
        </div>
    </div>
</div>

<div id="detailModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalii</h4>
            </div>
            <div class="modal-body">
                <img src="../images/caz3.jpg" width="200px" height="150px">
                <button
                        type="button" class="btn btn-primary btn-lg btn-success donateButton"
                        data-toggle="modal" data-target="#donateModal1" data-dismiss="modal">
                    Donează
                </button>
               <p class="paragraphAdjust">În pragul sărbătorilor, asociația noastră încearcă să îi ajute și pe cei mai
                    puțin norocoși să se bucure de această perioadă minunată</p>
                <br>
                <p class="paragraphAdjust helpSection">Contact: 0734-123967</p>
            </div>
        </div>
    </div>
</div>

<div id="donateModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button onclick="resetFieldsDonatePopup('#monthly1', '#oneTime1', 'sumCase1', 'lastName1', 'firstName1', 'phoneNumber1', 'email1');"
                        type="button" class="close" data-dismiss="modal">&times;
                </button>
                <h4 class="modal-title">Donează online!</h4>
            </div>
            <div class="modal-body">
			<form >
				  <div class="form-group">
					<label class="form-control-label">Vreau să donez:  &nbsp;&nbsp;&nbsp;&nbsp;</label>			
						<label class="radio-inline"><input type="radio" id="monthly1" name="optradio">Lunar</label>
						<label class="radio-inline"><input type="radio" id="oneTime1" name="optradio">O singură dată</label>				
				  </div>  
				  
				  <div class="form-group">
					<label for="sumCase1" class="form-control-label">Suma:</label>
					<input type="number" min="1" class="form-control " id="sumCase1" onblur="validateSum('sumCase1')" required="required" >
				  </div> 
				  
				   <div class="form-group">
					<label for="lastName1" class="form-control-label">Numele:</label>
					<input type="text"  class="form-control " id="lastName1" onblur="validateLastName('lastName1')" required="required" >
				  </div> 
				  
				  <div class="form-group">
					<label for="firstName1" class="form-control-label">Prenumele:</label>
					<input type="text"  class="form-control " id="firstName1" onblur="validateFirstName('firstName1')" required="required" >
				  </div> 
				  
				   <div class="form-group">
					<label for="phoneNumber1" class="form-control-label">Telefon:</label>
					<input type="number" min="1" class="form-control " id="phoneNumber1" onblur="validatePhoneNumber('phoneNumber1')" required="required" >
				  </div> 
				  
				   <div class="form-group">
					<label for="email1" class="form-control-label">Email:</label>
					<input type="text" class="form-control " id="email1" onblur="validateEmail('email1')" required="required" >
				  </div> 
		
				  <div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" id="donate1" class="btn btn-primary" onclick="donate('#monthly1', '#oneTime1', 'sumCase1', 'lastName1', 'firstName1', 'phoneNumber1', 'email1', '#donate1', '#payModal1');">Donează</button>
				  </div>				
			</form>

            </div>
        </div>
    </div>
</div>

<div id="modalPlata" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modalAdaugaProdusTitleHeader">Card bancar:</h4>
            </div>
            <div class="modal-body">
			
				<form >
					  <div class="form-group">
						<label for="tipCard" class="form-control-label">Tip card:</label>
						<select id="tipCard" class="form-control inputPlata2">
							<option value="mastercard">Mastercard</option>
							<option value="maestro">Maestro</option>
							<option value="visa">Visa</option>
							<option value="visaElectron">Visa Electron</option>
						</select>
					  </div>  
					  
					  <div class="form-group">
						<label for="numarCard" class="form-control-label">Număr card:</label>
						<input type="text" class="form-control inputPlata2" id="numarCard" onblur="" autocomplete="off" placeholder="####-####-####-####" pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"required="required" onkeydown="validateCardNr(event)">
					  </div>
			
					  <div class="form-group">
						<label for="dataExpirare" class="form-control-label">Data expirare:</label>
						<input type="date"  min="01/16/2018" class="form-control inputPlata2" id="dataExpirare" onblur=""  required="required">
					  </div>
					  
					   <div class="form-group">
						<label for="numarVerificareCard" class="form-control-label">Număr verificare card:</label>
						<input type="text" class="form-control inputPlata2" id="numarVerificareCard" onblur="" autocomplete="off" placeholder="###" pattern="[0-9]{3}" required="required" onkeydown="validateCVC(event)">
					  </div>
			
					  <div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" id="buttonPlataComanda" class="btn btn-primary" onclick="platesteComanda()">Plătește</button>
				      </div>				
				</form>		
            </div>
        </div>
    </div>
</div>

<div id="plataSucces" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Plata cu succes!</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						
            </div>
        </div>
    </div>
</div>

<div id="footerEvenimente3">
    <p class="footerEvenimente">Poţi să ajuţi!
        <button type="button" class="btn btn-primary btn-lg btn-success footerEvenimente"
                data-toggle="modal" onclick="window.location = 'directioneaza2%25.html'">Donează 2%
        </button>

        <button type="button" class="btn btn-primary btn-lg btn-success footerEvenimente"
                data-toggle="modal" onclick="window.location = 'inregistrareVoluntar.html'">Fii voluntar!
        </button>
    </p>
    <p class="footerEvenimente">
        Contactează-ne:
        <button type="button" class="btn btn-primary btn-lg btn-success footerEvenimente"
                data-toggle="modal" onclick="window.location = 'contact.html'">Contact
        </button>
    </p>
</div>

</body>
</html>