<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Donează pentru un caz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>	  
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="../js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="../css/project.css" th:href="@{/css/project.css}"/>
		  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>		
	 <script src="../js/doneaza2%.js"></script>
</head>

<body id="#homepage">
<!--<div th:include="fragments/header :: header"></div>-->
<div th:fragment="header">
    <!-- Application NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#myNavbar">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../index.html">Acasă</a></li>
                    <li><a class="dropdown-toggle"
                           data-toggle="dropdown"
                           href="#">Implică-te!<span
                            class="caret"></span></a>
                         <ul class="dropdown-menu">
                            <li><a class="dropdown-toggle"
								   href="#">Donează<span
								   class="caret"></span></a>
								<ul class="dropdown-submenu">
								    <li><a href="#">Donează online</a></li>
									<li><a href="#">Donează 2%</a></li>
									<li><a href="#">Donează bunuri</a></li>
									<li><a href="actioneaza.html">Donează pentru un caz</a></li>								
								</ul>
							</li>
                            <li><a href="#">Fii voluntar</a></li>
                            <li><a href="participaLaEveniment.html">Participă la eveniment</a></li>
                        </ul>
                    </li>
                    <li><a class="dropdown-toggle"
                           data-toggle="dropdown"
                           href="#">Ce facem?<span
                            class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Despre noi</a></li>
                            <li><a href="#">Cazuri recent rezolvate</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Atelier</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="../fragments/login.html">Intră</a></li>
                </ul>
            </div>
        </div>
    </nav>

</div>

<div>
	<div id="titleEvenimente">Direcționează 2%<br>
	</div>
	<div id="containerEvenimente">
		<div class="rightEvenimente">
			<div id="band" class="container text-center rightAdjust">
				<h3 style="letter-spacing: 0px;">Unde acţionăm?</h3>
			</div>

			<div class="rightInnerEvenimente">
				<img src="../images/caz2.jpg" width="200px" height="140px">
				<p>Educaţie</p>

				<img src="../images/caz3.jpg" width="200px" height="140px">
				<p>Suport</p>

				<img src="../images/caz1.jpg" width="200px" height="140px">
				<p>Sănătate</p>
			</div>
		</div>
		<div id="listEvenimente">
		
			<h2> Direcționează 2% din impozitul pe venit </h2>
			<p> Faceți o faptă bună, nu costă nimic!</p>
			</br>
			<img class="imageFormular" class="center" src="../images/formularImage.jpg"></br>
		
			</br>	
			Descarcă formularul de <a href="/images/formular2%.pdf" download="formular2%.pdf" > aici </a> și completează-l cu datele necesare.
			</br>
			<p> După finalizare, încarcă formularul mai jos:</p>
		
			</br>
			<input type="file"id="fileLoader" name="files" title="Load File" accept=".pdf,.doc, .docs"  /> 
				
			<hr id="line">
		</div>		
	</div>
</div>

<div class="clear"></div>
	
<div id="footerDirectioneaza2">
		<p class="footerEvenimente">Poţi să ajuţi!
		<button type="button" class="btn btn-primary btn-lg btn-success footerEvenimente"
				data-toggle="modal" onclick="window.location = 'doneaza.html'">Donează</button>
		
		<button type="button" class="btn btn-primary btn-lg btn-success footerEvenimente"
				data-toggle="modal" onclick="window.location = 'inregistrareVoluntar.html'">Fii voluntar!</button>
		</p>
		<p class="footerEvenimente">
		Contactează-ne:
		<button type="button" class="btn btn-primary btn-lg btn-success footerEvenimente"
				data-toggle="modal" onclick="window.location = 'contact.html'">Contact</button>
		</p>
</div>

</body>
</html>