<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Înregistrează-te ca voluntar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="../js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="../css/project.css" th:href="@{/css/project.css}"/>

    <script src="../js/inregistrareVoluntar.js"></script>

    <script>
        $(document).ready(function () {
            $('.dropdown-menu a.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });
    </script>

    <script>
        if (isValid($('#name').val(),$('#prenume').val(),$('#email').val(),
                $('#address').val(),$('#phone').val())){
            $('#inreg').setAttribute("data-target", "#myModal");
        }
    </script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

</head>
<body>
<div th:fragment="header">
    <!-- Application NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#myNavbar">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../index.html">Acasă</a></li>
                    <li><a class="dropdown-toggle"
                           data-toggle="dropdown"
                           href="#">Implică-te!<span
                            class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="test" tabindex="-1" href="#">Donează <span class="caret"></span></a>
                                <ul class="dropdown-menu sub-dropdown-menu ">
                                    <li><a href="donatiiMonetare.html">Doneaza online</a></li>
                                    <li><a href="directioneaza2%25.html">Donează 2%</a></li>
                                    <li><a href="donatiiBunuri.html">Donează bunuri</a></li>
                                    <li><a href="actioneaza.html">Donează pentru un anumit caz</a></li>
                                </ul>
                            </li>
                            <li><a href="inregistrareVoluntar.html">Fii voluntar</a></li>
                            <li><a href="participaLaEveniment.html">Participă la eveniment</a></li>
                        </ul>
                    </li>
                    <li><a class="dropdown-toggle"
                           data-toggle="dropdown"
                           href="#">Ce facem?<span
                            class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Despre noi</a></li>
                            <li><a href="#">Cazuri recent rezolvate</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Atelier</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="../fragments/login.html">Intră</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 	End of Application NAVBAR -->

</div>


<div class="container text-center">

    <h3>Înregistrează-te ca voluntar</h3>
    <br>
    <div class="row">

        <div>

            <div class="form-group" id="nameContainer">
                <label class="control-label col-sm-2" for="name">Nume:</label>
                <div class="col-sm-10">
                    <input type="text" id="name" name="name"
                           autofocus="autofocus"
                           placeholder="Nume"
                           th:required="required" class="form-control"/>
                </div>
            </div>
            <br>
            <br>
            <div class="form-group" id="name2Container">
                <label class="control-label col-sm-2" for="prenume">Prenume:</label>
                <div class="col-sm-10">
                    <input type="text" id="prenume" name="prenume"
                           placeholder="Prenume" th:required="required"
                           class="form-control"/>
                </div>
            </div>
            <br>
            <br>
            <div class="form-group" id="emailContainer">
                <label class="control-label col-sm-2" for="email">E-mail:</label>
                <div class="col-sm-10">
                    <input type="email" id="email" name="email"
                           placeholder="E-mail" th:required="required"
                           class="form-control"/>
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label class="control-label col-sm-2" for="phone">Telefon:</label>
                <div class="col-sm-10">
                    <input type="text" id="phone" name="phone"
                           placeholder="Telefon"
                           th:required="required" class="form-control"/>
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label class="control-label col-sm-2" for="address">Adresă:</label>
                <div class="col-sm-10">
                    <input type="text" id="address" name="address"
                           placeholder="Adresă"
                           th:required="required" class="form-control"/>
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label class="control-label col-sm-2">Vârsta:</label>
                <div class="col-sm-10">
                    <!--<input type="text" id="org"-->
                    <!--name="Organizație"-->
                    <!--placeholder="Organizație" class="form-control"/> <br/>-->
                    <ul class="nav navbar-nav">
                        <li>
                            <button class="dropdown-toggle btn-primary btn-lg btn-success" id="select"
                                    data-toggle="dropdown">Vârsta
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">18</a></li>
                                <li><a href="#">19</a></li>
                                <li><a href="#">20</a></li>
                                <li><a href="#">21</a></li>
                                <li><a href="#">22</a></li>
                                <li><a href="#">23</a></li>
                                <li><a href="#">24</a></li>
                                <li><a href="#">25</a></li>
                                <li><a href="#">26</a></li>
                                <li><a href="#">27</a></li>
                                <li><a href="#">28</a></li>
                                <li><a href="#">29</a></li>
                                <li><a href="#">30</a></li>
                                <li><a href="#">31</a></li>
                                <li><a href="#">32</a></li>
                                <li><a href="#">33</a></li>
                                <li><a href="#">34</a></li>
                                <li><a href="#">35</a></li>
                                <li><a href="#">36</a></li>
                                <li><a href="#">37</a></li>
                                <li><a href="#">38</a></li>
                                <li><a href="#">39</a></li>
                                <li><a href="#">40</a></li>
                                <li><a href="#">41</a></li>
                                <li><a href="#">42</a></li>
                                <li><a href="#">43</a></li>
                                <li><a href="#">44</a></li>
                                <li><a href="#">45</a></li>
                                <li><a href="#">46</a></li>
                                <li><a href="#">47</a></li>
                                <li><a href="#">48</a></li>
                                <li><a href="#">49</a></li>
                                <li><a href="#">50</a></li>
                                <li><a href="#">51</a></li>
                                <li><a href="#">52</a></li>
                                <li><a href="#">53</a></li>
                                <li><a href="#">54</a></li>
                                <li><a href="#">55</a></li>
                                <li><a href="#">56</a></li>
                                <li><a href="#">57</a></li>
                                <li><a href="#">58</a></li>
                                <li><a href="#">59</a></li>
                                <li><a href="#">60</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <br>
            <br>
            <button id="inreg" onclick=" if (isValid($('#name').val(),$('#prenume').val(),$('#email').val(),
            $('#address').val(),$('#phone').val()))
            {$('#inreg').attr('data-target', '#myModal')}"
                    type="button" class="btn btn-primary btn-lg btn-success" data-target="myModal"
                    data-toggle="modal">Înregistrează-te
            </button>

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Te-ai înscris cu succes !</h4>
                        </div>
                        <div class="modal-body">
                            <button onclick="toastr.info('Înscriere realizată cu succes!')"
                                    type="button" class="btn btn-primary btn-lg btn-success" data-dismiss="modal">
                                OK
                            </button>
                        </div>
                    </div>
             </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>