<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Înregistrează-te ca voluntar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="../js/inregistrareVoluntar.js"></script>

    <script src="../js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="../css/project.css" th:href="@{/css/project.css}"/>

    <script>
        $(document).ready(function () {
            $('.dropdown-menu a.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });
    </script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

</head>
<body>
<div th:fragment="header">
    <!-- Application NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#myNavbar">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../index.html">Acasă</a></li>
                    <li><a class="dropdown-toggle"
                           data-toggle="dropdown"
                           href="#">Implică-te!<span
                            class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="test" tabindex="-1" href="#">Donează <span class="caret"></span></a>
                                <ul class="dropdown-menu sub-dropdown-menu ">
                                    <li><a href="donatiiMonetare.html">Doneaza online</a></li>
                                    <li><a href="directioneaza2%25.html">Donează 2%</a></li>
                                    <li><a href="donatiiBunuri.html">Donează bunuri</a></li>
                                    <li><a href="actioneaza.html">Donează pentru un anumit caz</a></li>
                                </ul>
                            </li>
                            <li><a href="inregistrareVoluntar.html">Fii voluntar</a></li>
                            <li><a href="participaLaEveniment.html">Participă la eveniment</a></li>
                        </ul>
                    </li>
                    <li><a class="dropdown-toggle"
                           data-toggle="dropdown"
                           href="#">Ce facem?<span
                            class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="despreNoi.html">Despre noi</a></li>
                            <li><a href="cazuriRezolvate.html">Cazuri recent rezolvate</a></li>
                        </ul>
                    </li>
                    <li><a href="atelier.html">Atelier</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="../fragments/login.html">Intră</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 	End of Application NAVBAR -->

</div>


<div class="container text-center">

    <h3>Înregistrează-te ca voluntar</h3>
    <br>
    <div class="row">

        <form>

            <div class="form-group" id="nameContainer">
                <label for="nume" class="control-label col-sm-2" >Nume:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="nume" autofocus="autofocus"
                       placeholder="Nume" onblur="validareNume()" onkeydown="validareNume()" required  >
                </div>
            </div>
            <br>
            <br>
            <div class="form-group" id="name2Container">
                <label for="prenume" class="control-label col-sm-2">Prenume:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="prenume" placeholder="Prenume" onblur="validarePrenume()" onkeydown="validarePrenume()" required="requiered"  >
                </div>
            </div>
            <br>
            <br>
            <div class="form-group" id="emailContainer">
                <label for="email" class="control-label col-sm-2">E-mail:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="email" placeholder="E-mail" onblur="validareEmail()" onkeydown="validareEmail()" required="requiered"  >
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="telefon" class="control-label col-sm-2">Telefon:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="telefon" placeholder="Telefon" onblur="validareTelefon()" onkeydown="validareTelefon()" required="requiered"  >
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="adresa" class="control-label col-sm-2">Adresa:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="adresa" placeholder="Adresa" onblur="validareAdresa()" onkeydown="validareAdresa()" required="requiered" >
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="varsta" class="control-label col-sm-2" >Vârsta:</label>
                <div class="col-sm-10">
                <select class="form-control" id="varsta"  onchange="validareVarsta()" required="required">
                    <option  value="1">18</option>
                    <option  value="2">19</option>
                    <option  value="3">20</option>
                    <option  value="4">21</option>
                    <option  value="5">22</option>
                    <option  value="6">23</option>
                    <option  value="7">24</option>
                    <option  value="8">25</option>
                    <option  value="9">26</option>
                    <option  value="10">27</option>
                    <option  value="11">28</option>
                    <option  value="12">29</option>
                    <option  value="13">30</option>
                    <option  value="14">31</option>
                    <option  value="15">32</option>
                    <option  value="16">33</option>
                    <option  value="17">34</option>
                    <option  value="18">35</option>
                    <option  value="19">36</option>
                    <option  value="20">37</option>
                    <option  value="21">38</option>
                    <option  value="22">39</option>
                    <option  value="23">40</option>
                    <option  value="24">41</option>
                    <option  value="25">42</option>
                    <option  value="26">43</option>
                    <option  value="27">44</option>
                    <option  value="28">45</option>
                    <option  value="29">46</option>
                    <option  value="30">47</option>
                    <option  value="31">48</option>
                    <option  value="32">49</option>
                    <option  value="33">50</option>
                    <option  value="34">51</option>
                    <option  value="35">52</option>
                    <option  value="36">53</option>
                    <option  value="37">54</option>
                    <option  value="38">55</option>
                    <option  value="39">56</option>
                    <option  value="40">57</option>
                    <option  value="41">58</option>
                    <option  value="42">59</option>
                    <option  value="43">60</option>
                </select>
                </div>
            </div>
            <br>
            <br>
            <br>
            <button id="inreg" onclick="inregistrareVoluntar()"
                    type="submit" class="btn btn-primary btn-lg btn-success" data-target="myModal"
                    data-toggle="modal">Înregistrează-te
            </button>
			
		</form>
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Te-ai înscris cu succes !</h4>
                        </div>
                        <div class="modal-body">
                            <button onclick="toastr.info('Înscriere realizată cu succes!')"
                                    type="button" class="btn btn-primary btn-lg btn-success" data-dismiss="modal">
                                OK
                            </button>
                        </div>
                    </div>
             </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>